<div class="bg-linear-to-r from-purple-700 to-indigo-900 p-8 text-white shadow-lg">
  <div class="flex flex-col items-center justify-center gap-2">
    <mat-icon fontIcon="pets" class="text-purple-200 scale-150"></mat-icon>
    <h1 class="text-3xl font-extrabold tracking-tight">Desafio Seplag - Pets e Tutores</h1>
    <p class="text-sm font-light uppercase text-purple-200">
      Por: <span class="font-semibold text-white">Sabrina Vigilato</span>
    </p>
  </div>
</div>

<div class="container mx-auto p-6">
  <router-outlet></router-outlet>
</div>