<app-layout-toggle-view></app-layout-toggle-view>

<div class="flex flex-col gap-8 w-full py-6">
  @if (facade.petsList$ | async; as data) {
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-5 gap-6 max-w-screen-2xl mx-auto px-4 w-full">
    @for (pet of data.content; track pet.id) {
    <app-card class="hover:shadow-lg transition-shadow duration-300">
      <div class="flex flex-col gap-4 p-3">
        <div
          class="relative w-full h-48 bg-purple-50 rounded-2xl overflow-hidden shadow-inner flex items-center justify-center">
          @if (!pet.foto?.url) {
          <span class="absolute z-10 text-purple-900 font-bold text-sm text-center px-4 pointer-events-none">
            Não há imagem de pet
          </span>
          }

          <img [src]="pet.foto?.url || 'dog-3.png'" [alt]="pet.nome"
            class="w-full h-full object-cover transition-opacity duration-300" [class.opacity-30]="!pet.foto?.url" />
        </div>

        <div class="flex flex-col gap-1 text-purple-900 px-1">
          <h2 class="text-xl font-black truncate">{{ pet.nome }}</h2>
          <p class="text-gray-600 text-sm font-medium truncate">Raça: {{ pet.raca }}</p>
          <p class="text-gray-400 text-xs">Idade: {{ pet.idade }} {{ yearsPlural(pet.idade) }}</p>
        </div>

        <div class="pt-2">
          <app-button label="Detalhes" variant="outline" class="w-full block py-1" (click)="detailsPet(pet.id)">
          </app-button>
        </div>

      </div>
    </app-card>
    } @empty {
    }
  </div>
  }
</div>