<div class="flex items-center justify-center min-h-screen bg-gray-50 py-12 px-4">
  <div class="w-full max-w-xl">
    <app-card>
      <div class="flex flex-col gap-8">

        <div class="flex flex-col items-center gap-4">
          <div (click)="fileInput.click()"
            class="relative w-32 h-32 bg-purple-50 rounded-3xl flex items-center justify-center border-2 border-dashed border-purple-200 overflow-hidden cursor-pointer hover:bg-purple-100 transition-colors">

            @if (photoPreview) {
            <img [src]="photoPreview" class="w-full h-full object-cover">
            } @else {
            <mat-icon fontIcon="person_add" class="text-purple-300 text-4xl h-10 w-10"></mat-icon>
            }

            <input #fileInput type="file" class="hidden" accept="image/*" (change)="onFileSelected($event)">
          </div>

          @if (photoPreview) {
          <div class="flex gap-3">
            <app-button label="Trocar" variant="outline" class="w-28" (click)="fileInput.click()"></app-button>
            <app-button label="Excluir" variant="outline" class="w-28" (click)="removePhoto()"></app-button>
          </div>
          }
        </div>

        <form [formGroup]="form" (ngSubmit)="onSubmit()" class="flex flex-col gap-6">

          <app-input-field label="Nome Completo" placeholder="Ex: João da Silva" [control]="nomeControl">
          </app-input-field>

          <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
            <app-input-field label="E-mail" type="email" placeholder="joao@email.com" [control]="emailControl">
            </app-input-field>

            <app-input-field label="Telefone" placeholder="(00) 00000-0000" mask="(00) 00000-0000"
              [control]="telefoneControl">
            </app-input-field>
          </div>

          <app-input-field label="CPF" type="text" placeholder="000.000.000-00" mask="000.000.000-00"
            [dropSpecialCharacters]="true" [control]="cpfControl">
          </app-input-field>

          <app-input-field label="Endereço" placeholder="Rua, número, bairro e cidade" [control]="enderecoControl">
          </app-input-field>

          <div class="flex flex-col md:flex-row gap-4 pt-4">
            <app-button label="Cancelar" variant="outline" class="flex-1" (click)="cancel()">
            </app-button>

            <app-button [label]="(facade.loading$ | async) ? 'Cadastrando...' : 'Cadastrar Tutor'" class="flex-1"
              [disabled]="form.invalid || ((facade.loading$ | async) ?? false)">
            </app-button>
          </div>

        </form>
      </div>
    </app-card>
  </div>
</div>
